# TestRun
**1/2/34 --** *Steven Hanna*

### Description 
 The class to test the unit tests with 

## REST Endpoints 
### test.com/test

## Variables 

### testVar

#### Description 
 Just a simple test variable 

## Functions 
### testFunc

#### Description 
 Just a simple test function 


#### Parameters 
 
- int a - first integer input 
- int b - second integer input 


#### Returns 
*int - return 0* 
