# TestRun
**1/2/34 --** *Steven Hanna*

### Description 
 The class to test the unit tests with 

## REST Endpoints 
### CREATE test.com/test

#### Parameters 

- temp - this is a test param
- temp - this is a test param


#### Sample Responses 

- `200` - all good
- `404` - not found
- `500` - shit


## Variables 

### testVar

#### Description 
 Just a simple test variable 

## Functions 
### testFunc

#### Description 
 Just a simple test function 


#### Parameters 
 
- int a - first integer input 
- int b - second integer input 


#### Returns 
*int - return 0* 
